<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.zerock.mapper.MovieReviewCommentChoiceMapper">

	<insert id="insert" keyProperty="mov_rev_com_cho_num"
		useGeneratedKeys="true">
		<![CDATA[
		INSERT INTO movie_review_comment_choice(mov_rev_com_num, mem_num, mov_rev_com_cho_which) 
		VALUES (#{mov_rev_com_num},#{mem_num},#{mov_rev_com_cho_which})
		]]>
	</insert>
	
	<select id="choiceRead"
		resultType="org.zerock.domain.MovieReviewCommentChoiceVO">
		<![CDATA[
		SELECT * FROM movie_review_comment_choice 
		WHERE mov_rev_com_num = #{mov_rev_com_num} AND mem_num = #{mem_num}
		]]>
	</select>

	<delete id="delete">
		<![CDATA[
		DELETE FROM movie_review_comment_choice 
		WHERE mov_rev_com_num = #{mov_rev_com_num} AND mem_num = #{mem_num}
		]]>
	</delete>

	<update id="update">
		<![CDATA[
		update movie_review_comment_choice set mov_rev_com_cho_which =#{mov_rev_com_cho_which} where mov_rev_com_cho_num=#{mov_rev_com_cho_num}
		]]>
	</update>
	
	<delete id="deleteReviewCommentChoices">
		<![CDATA[
		DELETE FROM movie_review_comment_choice 
		WHERE mov_rev_com_num = #{mov_rev_com_num}
		]]>
	</delete>

</mapper>